<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">

        <mat-card>

        <div class="container text-center" style="margin-top: 20px">
          <img src="../../../assets/examPortalLogo.png" alt="" />
        </div>

        <h1 class="text-center">Register Here !</h1>

        <!--{{user|json}} : This is interpolation - used to dynamically see the input values by name field--> 

        <form (ngSubmit)="formSubmit()" class="ml20 mr20 mb20">
          <!-- Username field -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Username</mat-label>
            <input
              required
              [(ngModel)]="user.userName"
              name="userName"
              matInput
              placeholder="Enter here"
            />
            <mat-hint>Hint</mat-hint>
          </mat-form-field>

          <!-- Password field -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              required
              [(ngModel)]="user.password"
              name="password"
              type="password"
              matInput
              placeholder="Enter here"
            />
            <mat-hint>Hint</mat-hint>
          </mat-form-field>

          <!-- FirstName field -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>FirstName</mat-label>
            <input
              required
              [(ngModel)]="user.firstName"
              name="firstName"
              matInput
              placeholder="Enter here"
            />
          </mat-form-field>

          <!-- LastName field -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>LastName</mat-label>
            <input
              required
              [(ngModel)]="user.lastName"
              name="lastName"
              matInput
              placeholder="Enter here"
            />
          </mat-form-field>

          <!-- Email field -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email Address</mat-label>
            <input
              required
              [(ngModel)]="user.email"
              name="email"
              type="email"
              matInput
              placeholder="Enter here"
            />
          </mat-form-field>

          <!-- Phone field -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Phone</mat-label>
            <input
              required
              [(ngModel)]="user.phone"
              name="phone"
              type="number"
              matInput
              placeholder="Enter here"
            />
          </mat-form-field>

          <div class="container text-center">
            <button type="submit" mat-raised-button color="primary">
              Register
            </button>
            <button style="margin-left: 20px" mat-raised-button color="accent">
              Clear
            </button>
          </div>
        </form>

      </mat-card>
      </div>
    </div>
  </div>
</div>
